* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
:root {
  --primary-color: #1a5c17;
  --secondary-color: #ff7103;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1530px !important;
  }
}
/* header starts */
header {
  background-color: #bee9bd;
}
.main--logo__img {
  height: 50px;
  width: 100px;
  margin-top: 60px;
}
.main--logo__img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header--social--media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header--social--media ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header--social--media ul li {
  padding-left: 1rem;
}
.header--social--media ul li i {
  color: #000;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.header--social--media ul li i:hover {
  color: var(--secondary-color);
}
.header--social--media--location > div small,
.header--social--media--location > div i {
  color: #fff;
}
header nav {
  background-color: #fff;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  padding-left: 1rem;
}
header nav ul li a {
  color: #000;
  text-decoration: none;
  padding: 1px;
}
header nav ul li i {
  rotate: 30deg;
}
.header--social--media--contact {
  display: flex;
}
.header--social--media--contact--call {
  display: flex;
  flex-direction: row;
}
.header--social--media--contact--call__icon i {
  font-size: 30px;
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 3px;
  border-radius: 50%;
}
.header--social--media--contact--call__text {
  text-align: left;
}
.header--social--media--contact--call__text span {
  font-size: 12px;
  color: #3b3b3b;
}
.header--social--media--contact--call__text a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

/* header ends */

/* section starts */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slider__img {
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  overflow: hidden;
}
.card {
  border: none !important;
}
.section--about--staff .card-body {
  border-bottom: 1px solid #383838;
  padding: 3rem !important;
}
.section--about--staff .card-body h5 {
  font-weight: 600;
  font-size: 26px;
}
.section--about--staff .card-body p {
  color: var(--secondary-color);
  font-size: 24;
}
.section--about--staff .card-body div i {
  font-size: 20px;
  margin-right: 1rem;
}
.section--about--staff .card-body div i:last-child {
  margin: 0;
}
.section--about--staff .card__image {
  position: relative;
}
.section--about--staff .card__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1a5c1738;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.section--about--staff .hover__animation::before {
  transform: scaleY(0);
}
.section--about--staff:hover .hover__animation::before {
  transform: scaleY(1);
}
.section--about--staff .card-body {
  position: relative;
  z-index: 1;
}
.section--about--staff .card-body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--secondary-color);
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.section--about--staff:hover .card-body p {
  color: #000;
  transition: color 0.5s;
  z-index: 1;
}
.section--about--staff:hover .card-body h5,
.section--about--staff:hover .card-body i {
  color: #fff;
  transition: color 0.5s;
  z-index: 1;
}
.section--about--staff:hover .card-body {
  border-bottom: 2px solid #000;
  transition: border-bottom 0.5s;
}
.equipment--card {
  overflow: hidden;
  border-radius: none !important;
}
.equipment--card .card__image {
  width: 100%;
  position: relative;
}
.card__image_img {
  width: 100%;
  height: 350px;
}
.equipment--card .card__image .card__image_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.equipment--card:hover .card__image__scale img {
  transition: transform 0.5s;
  transform: scale(1.25, 1.25);
}
.card__image__text {
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__image__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ff7103b8;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: ease;
}
.card__image__text__animation::before {
  transform: scaleY(0);
}
.equipment--card:hover .card__image__text__animation::before {
  transform: scaleY(1);
}
.card__image__text h5,
.card__image__text p,
.card__image__text a {
  color: #fff;
  display: none;
}
.equipment--card:hover .card__image__text h5,
.equipment--card:hover .card__image__text p,
.equipment--card:hover .card__image__text a {
  display: block;
  transition: display 0.5s;
}
.card__image__text a {
  text-decoration: none;
}
.equipment--card .card-body {
  position: relative;
  padding: 0 !important;
}
.equipment--card .card-body p {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.equipment--card:hover .card--body__text p {
  bottom: -45px;
  transition: bottom 0.2s;
}
/* section ends */
